<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.system_edu.mapper.ConnectUserAndRoleMapper">
  <resultMap id="BaseResultMap" type="com.education.system_edu.pojo.ConnectUserAndRole">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="use_code" jdbcType="VARCHAR" property="useCode" />
    <result column="sys_role_node_code" jdbcType="VARCHAR" property="sysRoleNodeCode" />
    <result column="sys_role_node_type" jdbcType="SMALLINT" property="sysRoleNodeType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    code, use_code, sys_role_node_code, sys_role_node_type, create_by, create_date, update_by, 
    update_date
  </sql>
  <select id="selectByExample" parameterType="com.education.system_edu.pojo.ConnectUserAndRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from connect_user_and_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from connect_user_and_role
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from connect_user_and_role
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.education.system_edu.pojo.ConnectUserAndRoleExample">
    delete from connect_user_and_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.education.system_edu.pojo.ConnectUserAndRole">
    insert into connect_user_and_role (code, use_code, sys_role_node_code, 
      sys_role_node_type, create_by, create_date, 
      update_by, update_date)
    values (#{code,jdbcType=VARCHAR}, #{useCode,jdbcType=VARCHAR}, #{sysRoleNodeCode,jdbcType=VARCHAR}, 
      #{sysRoleNodeType,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.education.system_edu.pojo.ConnectUserAndRole">
    insert into connect_user_and_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="useCode != null">
        use_code,
      </if>
      <if test="sysRoleNodeCode != null">
        sys_role_node_code,
      </if>
      <if test="sysRoleNodeType != null">
        sys_role_node_type,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="useCode != null">
        #{useCode,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleNodeCode != null">
        #{sysRoleNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleNodeType != null">
        #{sysRoleNodeType,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.education.system_edu.pojo.ConnectUserAndRoleExample" resultType="java.lang.Long">
    select count(*) from connect_user_and_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update connect_user_and_role
    <set>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.useCode != null">
        use_code = #{record.useCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysRoleNodeCode != null">
        sys_role_node_code = #{record.sysRoleNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysRoleNodeType != null">
        sys_role_node_type = #{record.sysRoleNodeType,jdbcType=SMALLINT},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update connect_user_and_role
    set code = #{record.code,jdbcType=VARCHAR},
      use_code = #{record.useCode,jdbcType=VARCHAR},
      sys_role_node_code = #{record.sysRoleNodeCode,jdbcType=VARCHAR},
      sys_role_node_type = #{record.sysRoleNodeType,jdbcType=SMALLINT},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.system_edu.pojo.ConnectUserAndRole">
    update connect_user_and_role
    <set>
      <if test="useCode != null">
        use_code = #{useCode,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleNodeCode != null">
        sys_role_node_code = #{sysRoleNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleNodeType != null">
        sys_role_node_type = #{sysRoleNodeType,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.system_edu.pojo.ConnectUserAndRole">
    update connect_user_and_role
    set use_code = #{useCode,jdbcType=VARCHAR},
      sys_role_node_code = #{sysRoleNodeCode,jdbcType=VARCHAR},
      sys_role_node_type = #{sysRoleNodeType,jdbcType=SMALLINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>