<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.system_edu.mapper.SysModelCourseMapper">
  <resultMap id="BaseResultMap" type="com.education.system_edu.pojo.SysModelCourse">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="course_code" jdbcType="VARCHAR" property="courseCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="huors" jdbcType="INTEGER" property="huors" />
    <result column="credit" jdbcType="INTEGER" property="credit" />
    <result column="sys_node_code" jdbcType="VARCHAR" property="sysNodeCode" />
    <result column="sys_node_type" jdbcType="SMALLINT" property="sysNodeType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    code, course_code, name, grade, huors, credit, sys_node_code, sys_node_type, create_by, 
    create_date, update_by, update_date
  </sql>
  <select id="selectByExample" parameterType="com.education.system_edu.pojo.SysModelCourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_model_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_model_course
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_model_course
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.education.system_edu.pojo.SysModelCourseExample">
    delete from sys_model_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.education.system_edu.pojo.SysModelCourse">
    insert into sys_model_course (code, course_code, name, 
      grade, huors, credit, 
      sys_node_code, sys_node_type, create_by, 
      create_date, update_by, update_date
      )
    values (#{code,jdbcType=VARCHAR}, #{courseCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{huors,jdbcType=INTEGER}, #{credit,jdbcType=INTEGER}, 
      #{sysNodeCode,jdbcType=VARCHAR}, #{sysNodeType,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.education.system_edu.pojo.SysModelCourse">
    insert into sys_model_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="courseCode != null">
        course_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="huors != null">
        huors,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="sysNodeCode != null">
        sys_node_code,
      </if>
      <if test="sysNodeType != null">
        sys_node_type,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="courseCode != null">
        #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="huors != null">
        #{huors,jdbcType=INTEGER},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="sysNodeCode != null">
        #{sysNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="sysNodeType != null">
        #{sysNodeType,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.education.system_edu.pojo.SysModelCourseExample" resultType="java.lang.Long">
    select count(*) from sys_model_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_model_course
    <set>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.courseCode != null">
        course_code = #{record.courseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.huors != null">
        huors = #{record.huors,jdbcType=INTEGER},
      </if>
      <if test="record.credit != null">
        credit = #{record.credit,jdbcType=INTEGER},
      </if>
      <if test="record.sysNodeCode != null">
        sys_node_code = #{record.sysNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysNodeType != null">
        sys_node_type = #{record.sysNodeType,jdbcType=SMALLINT},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_model_course
    set code = #{record.code,jdbcType=VARCHAR},
      course_code = #{record.courseCode,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      huors = #{record.huors,jdbcType=INTEGER},
      credit = #{record.credit,jdbcType=INTEGER},
      sys_node_code = #{record.sysNodeCode,jdbcType=VARCHAR},
      sys_node_type = #{record.sysNodeType,jdbcType=SMALLINT},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.system_edu.pojo.SysModelCourse">
    update sys_model_course
    <set>
      <if test="courseCode != null">
        course_code = #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="huors != null">
        huors = #{huors,jdbcType=INTEGER},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="sysNodeCode != null">
        sys_node_code = #{sysNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="sysNodeType != null">
        sys_node_type = #{sysNodeType,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.system_edu.pojo.SysModelCourse">
    update sys_model_course
    set course_code = #{courseCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      huors = #{huors,jdbcType=INTEGER},
      credit = #{credit,jdbcType=INTEGER},
      sys_node_code = #{sysNodeCode,jdbcType=VARCHAR},
      sys_node_type = #{sysNodeType,jdbcType=SMALLINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>