<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.system_edu.mapper.SysReaderMessageMapper">
  <resultMap id="BaseResultMap" type="com.education.system_edu.pojo.SysReaderMessage">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="reader_code" jdbcType="VARCHAR" property="readerCode" />
    <result column="message_code" jdbcType="VARCHAR" property="messageCode" />
    <result column="message_status" jdbcType="SMALLINT" property="messageStatus" />
    <result column="sys_reader_role_node_code" jdbcType="VARCHAR" property="sysReaderRoleNodeCode" />
    <result column="sys_reader_role_node_type" jdbcType="SMALLINT" property="sysReaderRoleNodeType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    code, reader_code, message_code, message_status, sys_reader_role_node_code, sys_reader_role_node_type, 
    create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByExample" parameterType="com.education.system_edu.pojo.SysReaderMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_reader_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_reader_message
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_reader_message
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.education.system_edu.pojo.SysReaderMessageExample">
    delete from sys_reader_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.education.system_edu.pojo.SysReaderMessage">
    insert into sys_reader_message (code, reader_code, message_code, 
      message_status, sys_reader_role_node_code, 
      sys_reader_role_node_type, create_by, create_date, 
      update_by, update_date)
    values (#{code,jdbcType=VARCHAR}, #{readerCode,jdbcType=VARCHAR}, #{messageCode,jdbcType=VARCHAR}, 
      #{messageStatus,jdbcType=SMALLINT}, #{sysReaderRoleNodeCode,jdbcType=VARCHAR}, 
      #{sysReaderRoleNodeType,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.education.system_edu.pojo.SysReaderMessage">
    insert into sys_reader_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="readerCode != null">
        reader_code,
      </if>
      <if test="messageCode != null">
        message_code,
      </if>
      <if test="messageStatus != null">
        message_status,
      </if>
      <if test="sysReaderRoleNodeCode != null">
        sys_reader_role_node_code,
      </if>
      <if test="sysReaderRoleNodeType != null">
        sys_reader_role_node_type,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="readerCode != null">
        #{readerCode,jdbcType=VARCHAR},
      </if>
      <if test="messageCode != null">
        #{messageCode,jdbcType=VARCHAR},
      </if>
      <if test="messageStatus != null">
        #{messageStatus,jdbcType=SMALLINT},
      </if>
      <if test="sysReaderRoleNodeCode != null">
        #{sysReaderRoleNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="sysReaderRoleNodeType != null">
        #{sysReaderRoleNodeType,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.education.system_edu.pojo.SysReaderMessageExample" resultType="java.lang.Long">
    select count(*) from sys_reader_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_reader_message
    <set>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.readerCode != null">
        reader_code = #{record.readerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.messageCode != null">
        message_code = #{record.messageCode,jdbcType=VARCHAR},
      </if>
      <if test="record.messageStatus != null">
        message_status = #{record.messageStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.sysReaderRoleNodeCode != null">
        sys_reader_role_node_code = #{record.sysReaderRoleNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysReaderRoleNodeType != null">
        sys_reader_role_node_type = #{record.sysReaderRoleNodeType,jdbcType=SMALLINT},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_reader_message
    set code = #{record.code,jdbcType=VARCHAR},
      reader_code = #{record.readerCode,jdbcType=VARCHAR},
      message_code = #{record.messageCode,jdbcType=VARCHAR},
      message_status = #{record.messageStatus,jdbcType=SMALLINT},
      sys_reader_role_node_code = #{record.sysReaderRoleNodeCode,jdbcType=VARCHAR},
      sys_reader_role_node_type = #{record.sysReaderRoleNodeType,jdbcType=SMALLINT},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.system_edu.pojo.SysReaderMessage">
    update sys_reader_message
    <set>
      <if test="readerCode != null">
        reader_code = #{readerCode,jdbcType=VARCHAR},
      </if>
      <if test="messageCode != null">
        message_code = #{messageCode,jdbcType=VARCHAR},
      </if>
      <if test="messageStatus != null">
        message_status = #{messageStatus,jdbcType=SMALLINT},
      </if>
      <if test="sysReaderRoleNodeCode != null">
        sys_reader_role_node_code = #{sysReaderRoleNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="sysReaderRoleNodeType != null">
        sys_reader_role_node_type = #{sysReaderRoleNodeType,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.system_edu.pojo.SysReaderMessage">
    update sys_reader_message
    set reader_code = #{readerCode,jdbcType=VARCHAR},
      message_code = #{messageCode,jdbcType=VARCHAR},
      message_status = #{messageStatus,jdbcType=SMALLINT},
      sys_reader_role_node_code = #{sysReaderRoleNodeCode,jdbcType=VARCHAR},
      sys_reader_role_node_type = #{sysReaderRoleNodeType,jdbcType=SMALLINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>