<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
</head>
<body>
<h1>pivottable</h1>
<h3><a th:href="@{/addQuwstionaier}">addQuwstionaier</a></h3>
<h3><a th:href="@{/index}">index</a></h3>
<h3><a th:href="@{/login}">login</a></h3>
<h3><a th:href="@{/m_main}">m_main</a></h3>
<h3><a th:href="@{/m_manage_course_course}">m_manage_course_course</a></h3>
<h3><a th:href="@{/m_manage_course_info}">m_manage_course_info</a></h3>
<h3><a th:href="@{/m_manage_course_made_courseclass}">m_manage_course_made_courseclass</a></h3>
<h3><a th:href="@{/m_manage_faculty_class}">m_manage_faculty_class</a></h3>
<h3><a th:href="@{/m_manage_faculty_courseclass}">m_manage_faculty_courseclass</a></h3>
<h3><a th:href="@{/m_manage_faculty_faculty}">m_manage_faculty_faculty</a></h3>
<h3><a th:href="@{/m_manage_faculty_major}">m_manage_faculty_major</a></h3>
<h3><a th:href="@{/m_manage_questionnaire_qm}">m_manage_questionnaire_qm</a></h3>
<h3><a th:href="@{/model}">model</a></h3>
<h3><a th:href="@{/new_file}">new_file</a></h3>
<h3><a th:href="@{/person_info}">person_info</a></h3>
<h3><a th:href="@{/rewrite_password}">rewrite_password</a></h3>
<h3><a th:href="@{/stu_course}">stu_course</a></h3>
<h3><a th:href="@{/stu_main}">stu_main</a></h3>
<h3><a th:href="@{/stu_message}">stu_message</a></h3>
<h3><a th:href="@{/stu_sign}">stu_sign</a></h3>
<h3><a th:href="@{/t_course}">t_course</a></h3>
<h1>Echarts</h1>
<h2>bar</h2>
<h3><a th:href="@{/t_main}">t_main</a></h3>
<h3><a th:href="@{/t_message}">t_message</a></h3>
<h3><a th:href="@{/t_questionnaire}">t_questionnaire</a></h3>
<h3><a th:href="@{/t_sign}">t_sign</a></h3>
<h2>line</h2>
<h3><a th:href="@{/t_tesk}">t_tesk</a></h3>

</body>
</html>
