<!DOCTYPE >
<html xmlns:th="https://www.thymeleaf.org">
<div th:fragment="js">
    <!-- JavaScript files-->
    <script src="/statics/vendor/jquery/jquery.min.js"></script>
    <script src="/statics/vendor/popper.js/umd/popper.min.js">
    </script>
    <script src="/statics/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/statics/vendor/jquery.cookie/jquery.cookie.js">
    </script>
    <script src="/statics/vendor/chart.js/Chart.min.js"></script>
    <script src="/statics/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/statics/js/charts-home.js"></script>
    <script src="/statics/js/charts-t.js"></script>
    <!-- Main File-->
    <script src="/statics/js/front.js"></script>
    <script src="/statics/js/user_message.js"></script>
</div>
    <script th:fragment="faculty_options">
    $(function () {
        initSelect();
        $("#submit_form").click(function () {
            $("#search_form").submit();
        });
    });
    function initSelect(){
        $.ajax({
            type: "GET",
            url: "/manage/faculty/initSearch",
            dataType: "json",
            success(data) {
                $(".faculty option").remove();
                $(".faculty").append("<option value=\"\">--请选择--</option>");
                for (let i = 0; i < data.length; i++) {
                    $(".faculty").append("<option value=\"" + data[i][0] + "\">" + data[i][1] + "</option>");
                }
            }
        });

        $(".faculty").change(function () {
            var id = $(this).children("option:checked").val();
            var f = $(this).parent().parent().children(" div:eq(1) ").children(" select").children(" option");
            var o = $(this).parent().parent().children(" div:eq(1) ").children(" select");
            $.ajax({
                type: "GET",
                url: "/manage/faculty/checkDepartment",
                dataType: "json",
                data: {"facultyId": id},
                success(data) {
                    console.info(f.text());
                    f.remove();
                    o.append("<option value=\"\">--请选择--</option>");
                    $.each(data, function (dataIndex, dataValue) {
                        o.append("<option value=\"" + dataValue.code + "\">" + dataValue.departmentName + "</option>");
                    })

                }
            });
        });

        $(".department").change(function () {
            console.info("系改变了");
            var id = $(this).children("option:checked").val();
            var f = $(this).parent().parent().children(" div:eq(2) ").children(" select").children(" option");
            var o = $(this).parent().parent().children(" div:eq(2) ").children(" select");
            $.ajax({
                type: "GET",
                url: "/manage/faculty/major/checkMajor",
                dataType: "json",
                data: {"departmentCode": id},
                success(data) {
                    console.info("department");
                    console.info(f.text());
                    f.remove();
                    o.append("<option value=\"\">--请选择--</option>");
                    $.each(data, function (dataIndex, dataValue) {
                        o.append("<option value=\"" + dataValue.majorCode + "\">" + dataValue.majorName + "</option>");
                    })

                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    // 状态码
                    console.log(XMLHttpRequest.status);
                    // 状态
                    console.log(XMLHttpRequest.readyState);
                    // 错误信息
                    console.log(textStatus);
                }
            })
        });

        $(".grade").change(function () {
            var majorId = $(this).parent().parent().children(" div:eq(2) ").children(" select").children(" option:checked").val()
            var grade = $(this).children("option:checked").val();
            var f = $(this).parent().parent().children(" div:eq(4) ").children(" select").children(" option");
            var o = $(this).parent().parent().children(" div:eq(4) ").children(" select");
            console.info(majorId);
            console.info(grade);
            if(majorId!=''){
                $.ajax({
                    type: "GET",
                    url: "/manage/faculty/major/checkClassNo",
                    dataType: "json",
                    data: {
                        "grade": grade,
                        "majorId": majorId
                    },
                    success(data) {
                        f.remove();
                        o.append("<option value=\"\">--请选择--</option>");
                        $.each(data, function (dataIndex, dataValue) {
                            o.append("<option value=\"" + dataValue.classCode + "\">" + dataValue.classClassCode + "</option>");
                        })

                    }
                });
            }else {
                alert("专业不能为空");
            }

        });
    }
</script>
<script th:fragment="page_js">
    $(function () {
        var pageCount = [[${pageCount}]];
        var pageNum = [[${pageNextNum}]] - 1;
        $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + 1 + "\"><<</a>&ensp;");
        if (1 !== pageNum) {
            var pageNum2 = pageNum - 1
            $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + pageNum2 + "\"><</a>&ensp;");
        }
        if (pageCount <= 30) {
            for (var i = 1; i <= pageCount; i++) {
                $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + i + "\">" + i + "</a>&ensp;");
            }
        } else {
            //点击1-8
            if (pageNum <= 10 || pageNum >= pageCount - 4) {
                for (var i = 1; i <= 15; i++) {
                    $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + i + "\">" + i + "</a>&ensp;");
                }
                for (var i = 1; i <= 5; i++) {
                    $("#pageFoot").append(".&ensp;");
                }
                for (var i = pageCount - 10; i <= pageCount; i++) {
                    $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + i + "\">" + i + "</a>&ensp;");
                }
            } else {
                //1--5
                for (var i = 1; i <= 3; i++) {
                    $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + i + "\">" + i + "</a>&ensp;");
                }
                for (var i = 1; i <= 5; i++) {
                    $("#pageFoot").append(".&ensp;");
                }
                //pageNum-5--pageNum+5
                for (var i = pageNum - 3; i <= pageNum + 3; i++) {
                    if (i <= pageCount - 6) {
                        $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + i + "\">" + i + "</a>&ensp;");
                    }
                }
                //
                for (var i = 1; i <= 10; i++) {
                    $("#pageFoot").append(".&ensp;");
                }
                for (var i = pageCount - 5; i <= pageCount; i++) {
                    $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + i + "\">" + i + "</a>&ensp;");
                }
            }
        }
        if (pageCount !== pageNum) {
            var pageNum2 = pageNum + 1
            $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + pageNum2 + "\">></a>&ensp;");
        }
        $("#pageFoot").append("<a class=\" text-black-50\" href=\"/manage/user/userSearch?pageSize=10&pageNum=" + pageCount + "\">>></a>&ensp;");
    })
</script>